<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cities</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of books</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Author</th>
        <th>Title</th>
        <th>ISBN</th>
    </tr>

    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.isbn}"></td>
    </tr>
</table>

</body>
</html>