<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/TR/xhtml11/">

<head>
    <name>Spring Boot Thymeleaf + Spring Security</name>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet" />
</head>

<body>
<nav class="navbar navbar-dark bg-primary d-flex">
    <a class="btn btn-light ml-auto" href="/logout" role="button">Logout</a>
</nav>
<div class="row justify-content-center my-3">
    <form class="form-inline md-form col-md-7 justify-content-center" th:action="@{/searchBook}" th:object="${searchForm}" method="POST">
        <input class="form-control" style="width: 520px;" type="text" th:field="*{line}" name="q" placeholder="Search" aria-label="Search" />
        <div class="row mx-1">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <div id="radioBtn" class="btn-group" style="width: 167px;">
                            <a class="btn btn-primary btn-sm active" data-toggle="parameter" data-name="1">By name</a>
                            <a class="btn btn-primary btn-sm notActive" data-toggle="parameter" data-name="2">By author</a>
                        </div>
                        <input type="hidden" name="parameter" id="parameter" th:field="*{parameter}" />
                    </div>
                </div>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Search" />
    </form>
</div>




<div id="textresult">
    <table id="tableresult" class="col-md-7 mx-auto table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>nazvanie</th>
            <th>ISBN</th>
        </tr>
        </thead>

    </table>


    <div class="row justify-content-center">

        <select class="text-primary" id="select" style="height: 38px;">
            <option id="select3" value="3" th:attrappend="selected=${bookPage.size == 3} ? selected">3 results</option>
            <option id="select5" value="5" th:attrappend="selected=${bookPage.size == 5} ? selected">5 results</option>
            <option id="select10"  value="10" th:attrappend="selected=${bookPage.size == 10} ? selected">10 results</option>
        </select>
    </div>
</div>


<div sec:authorize="hasRole('ADMIN')">
    <form th:action="@{/addBook}" th:object="${bookForm}" method="POST">
        ID:
        <input type="text" th:field="*{id}" />
        <br/>
        name:
        <input type="text" th:field="*{author}" />
        <br/>
        author:
        <input type="text" th:field="*{name}" />
        <br/>
        isbn:
        <input type="text" th:field="*{isbn}" />
        <br/>
        <input type="submit" value="Create" />
    </form>
</div>

</body>
<script type="text/javascript" th:src="@{/js/scriptajax.js}"></script>
</html>