<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <name>Spring Security Example</name>
        <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
              rel="stylesheet" />
    </head>
    <body>
    <nav class="navbar navbar-dark bg-primary d-flex">
        <a class="btn btn-light ml-auto" href="/logout" role="button">Logout</a>
    </nav>
    <table class="table table-striped" style="width: 700px;">
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>nazvanie</th>
            <th>ISBN</th>
        </tr>
        <tr th:each ="book : ${bookList}">
            <td th:utext="${book.id}">...</td>
            <td th:utext="${book.author}">...</td>
            <td th:utext="${book.name}">...</td>
            <td th:utext="${book.isbn}">...</td>
        </tr>
    </table>
    <a th:href="@{/home/refresh}">Вернуться</a>
    </body>
</html>